/Source/WebsiteValidator.BL.Tests/bin/
/Source/WebsiteValidator.BL.Tests/obj/
/Source/WebsiteValidator.BL/.vs
/Source/WebsiteValidator.BL/bin/
/Source/WebsiteValidator.BL/obj/
/Source/.vs
/Source/WebsiteValidator.sln.DotSettings.user
/Source/WebsiteValidator/bin/
/Source/WebsiteValidator/obj/
/.vs

/Source/WebsiteValidator/Properties
/Source/.idea
